@model Sprinter.ViewModel.NameGenViewModel
@{
    ViewBag.Title = "Sprint Name Generator";
}

<div id="namegen">
    @using (Html.BeginForm("Index", "NameGen"))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-12">
                <h1>@Model.Name</h1>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4">
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@Model.FirstWord <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        @foreach (var x in Enum.GetValues(typeof(Sprinter.Enums.WordType)))
                        {
                           <li><a href="#">@x.ToString()</a></li>
                        }
                    </ul>
                    @Html.HiddenFor(x => x.FirstWord)
                </div>
                @Html.ValidationMessageFor(x => x.FirstWord)
            </div>
            <div class="col-md-4">
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@Model.SecondWord <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        @foreach (var x in Enum.GetValues(typeof(Sprinter.Enums.WordType)))
                        {
                           <li><a href="#">@x.ToString()</a></li>
                        }
                    </ul> 
                    @Html.HiddenFor(x => x.SecondWord)
                </div>
                @Html.ValidationMessageFor(x => x.SecondWord)
            </div>
            <div class="col-md-4">
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@Model.ThirdWord <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        @foreach (var x in Enum.GetValues(typeof(Sprinter.Enums.WordType)))
                        {
                           <li><a href="#">@x.ToString()</a></li>
                        }
                    </ul>
                    @Html.HiddenFor(x => x.ThirdWord)
                </div>
                @Html.ValidationMessageFor(x => x.ThirdWord)
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <input id="btnGetName" type="submit" class="btn btn-primary btn-lg" value="Get Your Sprint Name" />
            </div>
        </div>
    }
</div>

@section Scripts {
    <script type="text/javascript">
        $(".dropdown-menu > li > a").on('click', function () {
            $(this).parent().parent().parent().find('.dropdown-toggle').text($(this).text());

            $(this).parent().parent().parent().find('input[type=hidden]').val($(this).text());
        });

        function successFunc(data, status) {
            alert(data);
        }

        function errorFunc() {
            alert('error');
        }
    </script>
}